.orderPage {
  .content__items {
    display: block;
    background: $gray-line;
    overflow: auto;
  }

  &__items-body {
    max-width: 800px;
    max-height: 400px;
    overflow: auto;
    border-radius: 20px;
    margin: 20px 0;
  }
  &__order {
    overflow: auto;
    padding: 0 10px;
  }
  &__body {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    margin-bottom: 10px;
  }
  &__item {
    width: 100%;
    border-top: 1px solid white;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    align-items: center;
    justify-items: center;
    position: relative;
    gap: 20px 0;
    &:first-child {
      border-top: none;
    }
    &-img {
      margin-right: 15px;

      img {
        width: 80px;
        height: 80px;
      }
    }
    &-quantity {
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }
    &-price {
      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }
  }
  &__pay {
    position: sticky;
    top: 20px;
    height: 100%;
    right: 0;
    background-color: $orange;
    padding: 15px;
    border-radius: 20px;
    @media (max-width: 1117px) {
      width: 100%;
    }
  }
  &__pay-totalPrice {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    padding: 0 10px;

    p {
      color: white;
      font-size: 22px;
    }
    b {
      flex-shrink: 0;
      color: white;
      font-size: 24px;
    }
  }
  &__pay-totalCount {
    padding: 0 10px;
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    p {
      color: white;
      font-size: 18px;
    }
    b {
      color: white;
      font-size: 20px;
    }
  }
  &__pay-button {
    button {
      background: white;
      color: black;
      font-size: 20px;
      font-weight: 700;
      border-radius: 10px;
      &:hover {
        background: darken($color: white, $amount: 15%);
      }
      @media (max-width: 1117px) {
        width: 100%;
      }
    }
  }
  &__form-client {
    margin-bottom: 40px;

    &_inputs {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      input {
        width: 100%;
        background: #f0f4f6;
        border: 1px solid #e2e8eb;
        border-radius: 10px;

        font-size: 16px;
        line-height: 22px;
        flex: 1 1 25%;
        padding: 15px 24px;

        -webkit-transition: 0.3s ease border-color 0s;
        -o-transition: 0.3s ease border-color 0s;
        transition: 0.3s ease border-color 0s;
        &:hover,
        &:focus {
          border-color: $orange;
        }
      }
    }
    h3 {
      margin-bottom: 5px;
    }
  }
  &__form-radio-group {
    display: flex;
    gap: 10px;
  }
  &__form-selector {
    margin-bottom: 20px;
    &_item {
      border: 1px solid $gray-line;
      border-radius: 15px;
      padding: 15px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;

      &:hover {
        background: lighten($color: $orange, $amount: 30%);
      }
    }
    &_item-active {
      background: $orange;
      color: white;
    }

    input {
      display: none;
    }
    label {
      cursor: pointer;
    }
    h3 {
      margin-bottom: 5px;
    }
  }
  &__form-time {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 5px;
    }
  }
  &__form-adress {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #afb8c0;
    margin-bottom: 20px;
    &_body {
      h3 {
        margin-bottom: 10px;
      }
    }
    &_item {
      padding: 8px;
      flex: 0 0 25%;
      max-width: 25%;
      @media (max-width: 1200px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      input {
        width: 100%;
        background: #f0f4f6;
        border: 1px solid #e2e8eb;
        border-radius: 10px;

        font-size: 16px;
        line-height: 22px;
        flex: 1 1 25%;
        padding: 15px 24px;

        -webkit-transition: 0.3s ease border-color 0s;
        -o-transition: 0.3s ease border-color 0s;
        transition: 0.3s ease border-color 0s;
        &:hover,
        &:focus {
          border-color: $orange;
        }
      }
      &:first-child {
        flex: 0 0 100%;
        max-width: 100%;
        input {
          // flex: 0 0 100%;
        }
        grid-column: span 4;
      }
    }
  }
  &__form-comment {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 5px;
    }
    textarea {
      width: 100%;
      background: #f0f4f6;
      border: 1px solid #e2e8eb;
      border-radius: 10px;
      resize: none;
      padding: 15px 24px;
      height: 100px;
      font-size: 18px;
    }
  }
}
