.completedOrder {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
  }
}
